*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;

}
.index-div{
    display:grid;
    grid-template-columns: auto auto auto;
}
.nav-bar {
    text-align: center;
    padding: 10px;
    background-color: grey;
    font-size: 1.2em;
    color: black;
}
body{
    background-color: #B0C8F5;
    font-size: 18px;
    margin-bottom: 50px;
}
p{
    grid-column-start: 1;
    margin: 20px 40px 10px 40px;
}
h1{
    text-align: center;
}
h2{
    margin-top: 10px;
    text-align: center;
}
h4{
    margin-top: 10px;
    text-align: center;
}
.body-paragraph{
    display:grid;
    grid-template-columns: 50% auto;
}
img{
    grid-column-start:2;
    margin-top:15px;
    margin-left:100px;
}